.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(76, 179, 243);
  color: white;
  padding: 15px;
  font-size: 2em;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.dailylogs {
  text-align: center;
  text-decoration: none;
  font-size: xx-large;
}

.only {
  color: rgb(221, 151, 29);
}

.img {
  size: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 50%;
}
