.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(76, 179, 243);
  color: white;
  padding: 15px;
  font-size: 2em;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.dailylogs {
  text-align: center;
  text-decoration: none;
  font-size: xx-large;
  color: brown;
}